html,
body {
  margin: 0;
  background-color: #282c34;
  color: #fff;

  h2 {
    text-align: center;
  }

  button {
    border: none;
    border-radius: 5px;
    background-color: #4e9cb4;
    color: #fff;

    &:hover {
      filter: brightness(0.9);
    }
  }

  a {
    color: #fff;
    text-decoration: 1px underline;
  }
}
